VITE_FIREBASE_API_KEY="AIzaSyAYTb87y2KqvS9uFynZOnT0Q6c5wMC3YFo"
VITE_FIREBASE_AUTH_DOMAIN="expense-dashboard-a78ba.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="expense-dashboard-a78ba"
VITE_FIREBASE_STORAGE_BUCKET="expense-dashboard-a78ba.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="816435521280"
VITE_FIREBASE_APP_ID="1:816435521280:web:24edaf566c60b7244235e5"
VITE_FIREBASE_MEASUREMENT_ID="G-P07F8T7ML2"
